<html>
  <head>
    <title>Alex's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Dota 2 news</a></h1>
    </div>
    
    <div>
      <h2><a href=''>24-25 февраля в Минске состоится турнир P2L CryptoМasters</a></h2>
        <p>Уже 24-25 февраля в Минске состоится знаковое мероприятие для киберспорта — турнир Play2Live CryptoMasters с призовым фондом $100 000 в токенах LUC. Событие будет транслироваться в прямом эфире на платформе Play2Live на семи языках. А также за любимые команды можно будет болеть вживую на площадке Falcon Arena  (г. Минск, пр. Победителей, 20). </p>
        <p> published: 22.02.2018, 16:40</p> 
    </div>
    
    <div>
      <h3><a href=''>Самые свежие новости!!!</a></h3>
      <p><a href=''>Тренажер для развития реакции</a></p>
      </div>
  </body>
</html>

